@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @{
        ViewData["Title"] = "Home Page";
    }



    <p>
        <a asp-controller="Employees" asp-action="Index">Employees List</a>
    </p>
    <p>
        <a asp-controller="Roles" asp-action="Index">Roles List</a>
    </p>
</div>
